__pycache__/*
.vscode/*
*.pyc
db.sqlite3
/staticfiles/*
/mediafiles/*
venv/*
.env
*.json

*.tar.gz
fakertest/*
*.sh
*.sql

!units.json

.vscode
.DS_Store

.idea
.idea/*

sensor_data_by_station
sensor_data_by_station/*
